body{
    background-color: lightgray;
}
header{
    background-color: bisque;
}
#move-counter{
    background-color: blueviolet;
}
#title{
    background-color: blueviolet;
}
#timer{
    background-color: blueviolet;
}
.button-bar{
    background-color: aqua;
}
#new-gameBtn{
    background-color: black;
}
#hard-modeBtn{
    background-color: black;
}
.card-table{
    display:grid;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 100px auto 80px;
}
.cards{
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
    align-items: center;
    background-color: blue;
    border: solid black 2px;
}