body{
    background-color: black;
    font-family: export,sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: default;
}
header{
    display: flex;
    height: 200px;
    justify-content: center;
    padding-bottom: 50px;
}
.hidden{
    visibility: hidden;
}

#main-title{
    color: White;
    font-size: 130px;
    justify-content: center;
    padding: 50px;;
}
.score-bar{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: 5px solid white;
    
}
#move-counter{
    color: chartreuse;
}
#game-clock{
    color: chartreuse;
}
#move-timer{
    color: chartreuse;
}
.button-bar{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
#new-gameBtn{
    color: white;
    font-size: 24px;
    padding: 25px 40px;
    float: left;
    border: 5px solid white;
    background-color: black;
    cursor: pointer;
}

#hard-modeBtn{
    color: white;
    font-size: 24px;
    padding: 25px 40px;
    float: left;
    border: 5px solid white;
    background-color: black;
    cursor: pointer;
}
#card-container{
    display:grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: 200 px auto;
    gap: 25px;
    justify-content: center; 
    justify-items: center;
    /* visibility: hidden; */
}
.front{
    visibility: ;
}
.back{
    visibility: ;
}
.hard-cards{
    visibility: ;
}
#card-front1{
    grid-area: 1/1/1/1;
    /* visibility: hidden; */
}
#card-front2{
    grid-area: 1/2/1/2;
    /* visibility: hidden; */
}
#card-front3{
    grid-area: 1/3/1/3;
    /* visibility: hidden; */
}
#card-front4{
    grid-area: 1/4/1/4;
    /* visibility: hidden; */
}
#card-front5{
    grid-area: 2/1/2/1;
    /* visibility: hidden; */
}
#card-front6{
    grid-area: 2/2/2/2;
    /* visibility: hidden; */
}
#card-front7{
    grid-area: 2/3/2/3;
    /* visibility: hidden; */
}
#card-front8{
    grid-area: 2/4/2/4;
    /* visibility: hidden; */
}
#card-front9{
    grid-area: 3/1/3/1;
    /* visibility: hidden; */
}
#card-front10{
    grid-area: 3/2/3/2;
    /* visibility: hidden; */
}
#card-front11{
    grid-area: 3/3/3/3;
    /* visibility: hidden; */
}
#card-front12{
    grid-area: 3/4/3/4;
    /* visibility: hidden; */
}
#card-front13{
    grid-area: 4/1/4/1;
    /* visibility: hidden; */
}
#card-front14{
    grid-area: 4/2/4/2;
    /* visibility: hidden; */
}
#card-front15{
    grid-area: 4/3/4/3;
    /* visibility: hidden; */
}
#card-front16{
    grid-area: 4/4/4/4;
    /* visibility: hidden; */
}

#card-back1{
    grid-area: 1/1/1/1;
    box-shadow: 0px 0px 15px 3px white;
    /* visibility: hidden; */
}
#card-back2{
    grid-area: 1/2/1/2;
    box-shadow: 0px 0px 15px 3px white;
    /* visibility: hidden; */
}
#card-back3{
    grid-area: 1/3/1/3;
    box-shadow: 0px 0px 15px 3px white;
    /* visibility: hidden; */
}
#card-back4{
    grid-area: 1/4/1/4;
    box-shadow: 0px 0px 15px 3px white;
    /* visibility: hidden; */
}
#card-back5{
    grid-area: 2/1/2/1;
    box-shadow: 0px 0px 15px 3px white;
    /* visibility: hidden; */
}
#card-back6{
    grid-area: 2/2/2/2;
    box-shadow: 0px 0px 15px 3px white;
    /* visibility: hidden; */
}
#card-back7{
    grid-area: 2/3/2/3;
    box-shadow: 0px 0px 15px 3px white;
    /* visibility: hidden; */
}
#card-back8{
    grid-area: 2/4/2/4;
    box-shadow: 0px 0px 15px 3px white;
    /* visibility: hidden; */
}
#card-back9{
    grid-area: 3/1/3/1;
    box-shadow: 0px 0px 15px 3px white;
}
#card-back10{
    grid-area: 3/2/3/2;
    box-shadow: 0px 0px 15px 3px white;
}
#card-back11{
    grid-area: 3/3/3/3;
    box-shadow: 0px 0px 15px 3px white;
}
#card-back12{
    grid-area: 3/4/3/4;
    box-shadow: 0px 0px 15px 3px white;
}
#card-back13{
    grid-area: 4/1/4/1;
    box-shadow: 0px 0px 15px 3px white;
}
#card-back14{
    grid-area: 4/2/4/2;
    box-shadow: 0px 0px 15px 3px white;
}
#card-back15{
    grid-area: 4/3/4/3;
    box-shadow: 0px 0px 15px 3px white;
}
#card-back16{
    grid-area: 4/4/4/4;
    box-shadow: 0px 0px 15px 3px white;
}
#hardcard1{
    grid-area: 1/1/1/1;
}
#hardcard2{
    grid-area: 1/2/1/2;
}
#hardcard3{
    grid-area: 1/3/1/3;
}
#hardcard4{
    grid-area: 1/4/1/4;
}
#hardcard5{
    grid-area: 2/1/2/1;
}
#hardcard6{
    grid-area: 2/2/2/2;
}
#hardcard7{
    grid-area: 2/3/2/3;
}
#hardcard8{
    grid-area: 2/4/2/4;
}
#hardcard9{
    grid-area: 3/1/3/1;
}
#hardcard10{
    grid-area: 3/2/3/2;
}
#hardcard11{
    grid-area: 3/3/3/3;
}
#hardcard12{
    grid-area: 3/4/3/4;
}
#hardcard13{
    grid-area: 4/1/4/1;
}
#hardcard14{
    grid-area: 4/2/4/2;
}
#hardcard15{
    grid-area: 4/3/4/3;
}
#hardcard16{
    grid-area: 4/4/4/4;   
}